img {
    max-height: 100%;
}

.my-poster {
    background-image: url("https://images.unsplash.com/photo-1607287337832-89ae00338522?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
    background-repeat: no-repeat;
    background-size:contain;
    border: 10px solid yellow;
    width: 300px;
    height: 400px;
    color: whitesmoke;
}

.my-poster .wave-title {
    font-size: 100px;
    margin: auto;
}

/* go deep into webdesign 🏖 */

.my-inspiration-flex {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    border-radius: 10px;
    height: 200px;
    width: 1fr;
}

.flex-waves {
    border: 5px solid aqua;
    display: flex;
    height: 400px;
}

.my-flexbox {
    display: flex;
    height: 400px;
}